html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.footer {
    justify-content: center;
    padding: 10px 0;
    background-color: #f8f9fa; /* You can change this to match your design */
    color: #6c757d; /* You can change this to match your design */
    margin-top: auto;
    text-align: center;
}


/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Custom Navbar Styles */
.navbar-custom {
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.navbar-custom .navbar-nav .nav-link:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Custom Button Styles */
.btn-outlook {
    background-color: #0078d4;
    color: white;
}

.btn-outlook:hover {
    background-color: #0053a6;
}

/* Message Box Styles */
.message-box {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffdddd;
    color: #d8000c;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
}

/* Additional styling for clarity */
.pagination .disabled {
    color: #ddd;
    cursor: not-allowed;
}
